body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

header {
  padding: 20px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.product {
  background: #222;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

button {
  padding: 10px;
  border: none;
  background: gold;
  cursor: pointer;
}